

.collapse navbar-collapse{
	margin-left: 500px;
}

.footer{
    border: 3px black solid;
    background-color:#CD853F;
    border-width: thin;
}
.col-md-4 img{
	width: 200px;
	height: 200px;
}


body{
  background-image: url('images/nature.jpg');
  background-position: absolute;
}