img{
	height: 100px;
	width: 200px;
}
.collapse navbar-collapse{
	margin-left: 500px;
}
.card{
	background-color: gray;
}
svg{
	margin-left: 15px;
}
.nav-link{
	margin-left: 40px;
}
.nav-link1{
	margin-left: 30px;
}
#one{

    color: red;
    /* padding-right: 0px; */
    position: absolute;
    z-index: 5;
    right: 820px;
    font-size: 20px;
    top: 26px;
}